<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="AstrologyDB"
     connectionString="Data Source=ASHISHPC\SQLEXPRESS;Initial Catalog=AstrologyAppDB;User ID=sa;Password=Pmay@2026;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Fix: Validators ko jQuery ki zaroorat nahi padegi -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <!-- Fix: UTF-8 encoding for Hindi text -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />

    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx" timeout="60" />
    </authentication>

    <authorization>
      <allow users="*" />
    </authorization>

    <sessionState timeout="60" />
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
